@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');

:root{
   --peru:#ee7925;
   --black:#222;
   --white:#fff;
   --light-black:#666;
   --light-white:#ccc;
   --light-bg:#f5f5f5;
   --dark-bg:rgba(0,0,0,.7);
   --border:.1rem solid #aaa;
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Dosis', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: all 0.4s cubic-bezier(.43,1.1,.62,1.08);
   text-transform: capitalize;
}

* > img{
   user-select: none;
   pointer-events: none;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6rem;
}

::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   border-radius: 13px;
   background-color: rgba(41, 41, 41, 0.014);
 }
 
 ::-webkit-scrollbar {
   width: 13px;
   background-color: rgb(46, 46, 46);
 }
 
 ::-webkit-scrollbar-thumb {
   border: #2f2f2f;
   border-radius: 4px;
   background: linear-gradient(#fed524, #f95a57);
 }

section{
   padding:5rem 10%;
}

.heading{
   text-align: center;
   margin-bottom: 3rem;
}

.heading span{
   font-size: 2.5rem;
   color:var(--peru);
}

.heading h3{
   font-size: 4.5rem;
   color:var(--black);
}

.btn{
   margin-top: 1rem;
   display: inline-block;
   background: var(--peru);
   color:var(--white);
   font-size: 2rem;
   cursor: pointer;
   padding:1rem 3rem;
}

.btn:hover{
   letter-spacing: .2rem;
}

.header{
   padding-top: 1rem;
   padding-bottom: 1rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   box-shadow: var(--box-shadow);
   position: sticky;
   top:0; left:0; right: 0;
   background: var(--white);
   z-index: 1000;
}

.header .logo{
   display: flex;
   font-size: 2.5rem;
   font-weight: bolder;
   color:var(--black);
}

.header .logo i{
   color:var(--peru);
   padding-right: .5rem;
}

.header .navbar a{
   font-size: 2rem;
   margin-left: 2rem;
   color:var(--light-black);
}

.header .navbar a:hover{
   color:var(--peru);
}

#menu-btn{
   font-size: 2.5rem;
   cursor: pointer;
   color:var(--black);
   display: none;
}

@keyframes fadeIn {
   0%{
      transform: translateY(-4rem) scale(0);
      opacity: 0;
   }
}

.image-container{
   height: 80vh;
   width: 80%;
   display: flex;
   justify-content:center;
   margin: auto;
   padding:2rem;
   border-bottom: var(--border);
}
.image-container img{
   object-fit: contain;
}

.content-section{
   width: 70vw;
   margin: auto;
}
.content-section .title{
   width:100%;
}
.content-section .title h1{
   font-size: 4rem;
}
.content-section .title h2{
   font-size: 2.5rem;
   color: var(--light-black);
}
.content-section .doc{
   margin-top: 3rem;
   column-count: 2;
   column-gap: 24px;
}
.content-section .doc p{
   font-family: Arial;
   font-size: 2rem;
   color: var(--light-black);
   font-weight: 1rem;
   text-transform: none;
}
.content-section .detail{
   margin-top: 3rem;
   font-size: 2rem;
   color:var(--black);
   text-transform: none;
}
.content-section .detail li{
   text-transform: none;
}
.content-section .detail span{
   font-weight: bold;
}

.footer{
   text-align: center;
   /* padding-bottom: 10rem; */
}

.footer .icons-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap:2rem;
}

.footer .icons-container .icons{
   text-align: center;
   padding:3rem 2rem;
}

.footer .icons-container .icons i{
   height: 6rem;
   width: 6rem;
   border-radius: 50%;
   background: var(--peru);
   color:var(--white);
   margin-bottom: .5rem;
   line-height: 5.8rem;
   font-size: 2rem;
}

.footer .icons-container .icons h3{
   font-size: 2rem;
   color:var(--black);
   padding:1rem 0;
}

.footer .icons-container .icons p{
   line-height: 1.5;
   font-size: 1.7rem;
   color:var(--light-black);
   text-transform: none;
}

.footer .share{
   margin:2rem 0;
}

.footer .share a{
   height: 6rem;
   width: 6rem;
   line-height: 5.8rem;
   color:var(--white);
   background: var(--black);
   margin:0 .3rem;
   font-size: 2.5rem;
}  

.footer .share a:hover{
   background: var(--peru);
}

.footer .credit{
   padding-top: 2.5rem;
   margin-top: 3rem;
   border-top: var(--border);
   font-size: 2rem;
   color:var(--light-black);
}

.footer .credit span{
   color:var(--peru);
}




/* media queries  */

@media (max-width:1200px){

   section{
      padding:3rem 5%;
   }

}

@media (max-width:991px){

   section{
      padding:3rem 2rem;
   }

   html{
      font-size: 55%;
   }

   .home .slide .content h3{
      font-size: 15vw;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .fa-times{
      transform: rotate(180deg);
   }

   .header .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--white);
      border-top: var(--border);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .navbar a{
      display: block;
      margin:2rem;
   }

   .swiper-button-next,
   .swiper-button-prev{
      top:initial;
      bottom:1rem;
   }

   .menu .slide .box-container .box{
      flex-flow: column;
      text-align: center;
   }
   .content-section .doc{
      column-count: 1;
   }
}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .home .slide .content h3{
      font-size: 7rem;
   }

}